.main {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-rows: 13% 79% 8%;
  overflow-y: hidden;
}

@media only screen and (max-height: 548px) {
  .main {
    grid-template-rows: 15% 74% 11%;
  }
}
@media only screen and (max-height: 470px) {
  .main {
    grid-template-rows: 18% 71% 11%;
  }
}
@media only screen and (max-height: 390px) {
  .main {
    grid-template-rows: 22% 67% 11%;
  }
}
@media only screen and (max-height: 290px) {
  .main {
    grid-template-rows: 28% 59% 13%;
  }
}
.menu, .menu-on, .menu-off {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40% 60%;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-100%, 0);
  width: 80%;
  height: 100%;
  background-color: #A0D8B3;
}
.menu__photo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__photo img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 12px;
}
.menu__filters {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__filters__menu {
  width: 100%;
  height: 90%;
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 10px;
  overflow-y: scroll;
}
.menu__filters__menu__options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu__filters__menu__options__label {
  font-size: 18px;
  margin: 0 15px 0 15px;
}
.menu__filters__menu__options__select {
  color: #0F0E0E;
  background-color: #F6F1F1;
  border: none;
  outline: none;
  padding: 5px 15px 5px 15px;
  border-radius: 12px;
  margin: 5px;
}
.menu__filters__menu__options__select:hover {
  transition: 0.3s;
  background-color: #fbfbff;
  cursor: pointer;
}
.menu__filters__menu__options__select option {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__filters__menu__submit {
  transition: 0.3s;
  margin: 10px;
  width: 120px;
  color: #0F0E0E;
  background-color: #F6F1F1;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 12px;
}
.menu__filters__menu__submit:hover {
  cursor: pointer;
  background-color: #fbfbff;
}

.menu-on, .menu-off {
  width: 80%;
  animation: toggleOn 0.5s forwards;
}

.menu-off {
  width: 80%;
  animation: toggle 0.5s forwards;
}

@keyframes toggle {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
@keyframes toggleOn {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@media only screen and (min-width: 840px) {
  .menu, .menu-on, .menu-off {
    width: 30%;
    min-width: 175px;
    position: static;
    transform: translate(0, 0);
  }
  .menu-on, .menu-off {
    width: 30%;
    min-width: 175px;
    position: static;
    transform: translate(0, 0);
  }
}
@media only screen and (min-width: 600px) and (max-width: 840px) {
  .menu, .menu-on, .menu-off {
    width: 40%;
    position: static;
    transform: translate(0, 0);
  }
}
@media only screen and (max-width: 356px) {
  .menu, .menu-on, .menu-off {
    width: 100%;
  }
}
@media (prefers-color-scheme: dark) {
  .menu, .menu-on, .menu-off {
    background-color: #0F0E0E;
  }
  .menu__filters__menu__options__select {
    background-color: #292929;
    color: #F6F1F1;
  }
  .menu__filters__menu__options__select:hover {
    background-color: #444;
  }
  .menu__filters__menu__submit {
    background-color: #292929;
    color: #F6F1F1;
  }
  .menu__filters__menu__submit:hover {
    background-color: #444;
  }
}

/*# sourceMappingURL=Menu.css.map */
