.main {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-rows: 13% 80% 7%;
  overflow-y: hidden;
}
.main__modal-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3333333333);
  z-index: 3000;
}
.main__modal-container div {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.main__modal-container div img {
  width: 100%;
}
.main__modal-container div a {
  align-self: flex-start;
  width: 50px;
  height: 50px;
  background-color: #C9D6DF;
  border-radius: 12px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__modal-container div a svg {
  color: black;
  width: 70%;
  height: 70%;
}

@media only screen and (min-width: 840px) {
  .main__modal-container div {
    width: fit-content;
    height: 80%;
    flex-direction: row;
  }
  .main__modal-container div img {
    height: 100%;
  }
  .main__modal-container div a {
    margin: 0 10px;
  }
}
@media only screen and (max-height: 548px) {
  .main {
    grid-template-rows: 15% 74% 11%;
  }
}
@media only screen and (max-height: 470px) {
  .main {
    grid-template-rows: 18% 71% 11%;
  }
}
@media only screen and (max-height: 390px) {
  .main {
    grid-template-rows: 22% 67% 11%;
  }
}
@media only screen and (max-height: 290px) {
  .main {
    grid-template-rows: 28% 59% 13%;
  }
}
@media only screen and (max-width: 390px) {
  .main {
    grid-template-rows: 13% 76% 11%;
  }
}
@media only screen and (max-width: 266px) {
  .main {
    grid-template-rows: 15% 70% 15%;
  }
}
@media (prefers-color-scheme: dark) {
  .main__modal-container div a {
    background-color: #292929;
  }
  .main__modal-container div a svg {
    color: white;
  }
}
.nav-bar {
  width: 100%;
  height: 100%;
  background-color: #F6F6F6;
  display: flex;
  align-items: center;
}
.nav-bar__menu-button {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-bar__menu-button__button {
  background-color: #fff;
  width: 50px;
  min-width: 50;
  height: 50px;
  padding: 14px;
  margin: 0 0 0 15px;
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
}
.nav-bar__menu-button__button img {
  width: 100%;
}
.nav-bar__form {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar__form__input {
  border-radius: 12px;
  border: none;
  outline: none;
  height: 50px;
}
.nav-bar__form #nav-bar__form__search-bar {
  padding: 5px 20px 5px 20px;
  box-sizing: border-box;
  font-size: 20px;
  width: 200px;
  border-radius: 12px 0 0 12px;
}
.nav-bar__form #nav-bar__form__submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  padding: 14px;
  border-radius: 0 12px 12px 0;
}
.nav-bar__form #nav-bar__form__submit-button img {
  width: 100%;
  filter: invert(1);
}

@media only screen and (max-width: 400px) {
  .nav-bar__menu-button {
    width: 30%;
    height: 100%;
  }
  .nav-bar__menu-button .nav-bar__menu-button {
    position: initial;
  }
  .nav-bar__form {
    width: 70%;
  }
  .nav-bar__form #nav-bar__form__search-bar {
    width: 60%;
  }
}
@media only screen and (min-width: 840px) {
  .nav-bar__form #nav-bar__form__search-bar {
    width: 50%;
    max-width: 700px;
  }
}
@media (prefers-color-scheme: dark) {
  .nav-bar {
    background-color: #0f0e0e;
  }
  .nav-bar__form #nav-bar__form__submit-button img {
    filter: invert(0);
  }
}

/*# sourceMappingURL=NavBar.css.map */
