$primaryColorApp: #F6F6F6;
$secondColorApp: #C9D6DF;
$thirdColorApp: #F0F5F9;
$fourthColorApp: #212a3e;
$hoversLight: #ebeaff;

$darkPrimaryColorApp: #0f0e0e;
$darkSecondColorApp: #292929;
$darkThirdColorApp: #171717;
$darkFourthColorApp: #f1f6f9;
$hoversDark: #444;

$borderRadius: 12px;

.main {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-rows: 13% 80% 7%;
  overflow-y: hidden;

  &__modal-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0005;
    z-index: 3000;

    div {
      width: 90%;
      display: flex;
      flex-direction: column;

      img {
        width: 100%;
      }
      a {
        align-self: flex-start;
        width: 50px;
        height: 50px;
        background-color: $secondColorApp;
        border-radius: $borderRadius;
        margin: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          color: black;
          width: 70%;
          height: 70%;
        }
      }
    }
  }
}

@media only screen and (min-width: 840px) {
  .main {
    &__modal-container {
      div {
        width: fit-content;
        height: 80%;
        flex-direction: row;

        img {
          height: 100%;
        }

        a {
          margin: 0 10px;
        }
      }
    }
  }
}

@media only screen and (max-height: 548px) {
  .main {
    grid-template-rows: 15% 74% 11%;
  }
}

@media only screen and (max-height: 470px) {
  .main {
    grid-template-rows: 18% 71% 11%;
  }
}

@media only screen and (max-height: 390px) {
  .main {
    grid-template-rows: 22% 67% 11%;
  }
}

@media only screen and (max-height: 290px) {
  .main {
    grid-template-rows: 28% 59% 13%;
  }
}

@media only screen and (max-width: 390px) {
  .main {
    grid-template-rows: 13% 76% 11%;
  }
}

@media only screen and (max-width: 266px) {
  .main {
    grid-template-rows: 15% 70% 15%;
  }
}

@media (prefers-color-scheme: dark) {
  .main {
    &__modal-container {
      div {
        a {
          background-color: $darkSecondColorApp;

          svg {
            color: white;
          }
        }
      }
    }
  }
}
