@import "App.scss";
$width: 80%;
$margin-gap: 10px;

.menu {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40% 60%;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-100%, 0);
  width: $width;
  height: 100%;
  background-color: $primaryColorApp;

  &__photo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 80%;
      height: 80%;
      object-fit: cover;
      border-radius: $borderRadius;
    }
  }

  &__filters {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__menu {
      width: 100%;
      height: 90%;
      flex-direction: column;
      display: flex;
      align-items: center;
      gap: $margin-gap;
      overflow-y: scroll;

      &__options {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &__label {
          font-size: 18px;
          margin: 0 15px 0 15px;
        }
        
        &__select {
          &:hover {
            transition: 0.3s;
            background-color: $hoversLight;
            cursor: pointer;
          }

          color: $darkPrimaryColorApp;
          background-color: $secondColorApp;
          border: none;
          outline: none;
          padding: 5px 15px 5px 15px;
          border-radius: $borderRadius;
          margin: 5px;
          
          option {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }

      &__submit {
        &:hover {
          cursor: pointer;
          background-color: $hoversLight;
        }

        transition: 0.3s;
        margin: $margin-gap;
        width: 120px;
        color: $darkPrimaryColorApp;
        background-color: $secondColorApp;
        border: none;
        outline: none;
        padding: 5px;
        border-radius: $borderRadius;
      }
    }
  }
}

.menu-on {
  @extend .menu;
  width: $width;
  animation: toggleOn 0.5s forwards;
}

.menu-off {
  @extend .menu-on;
  width: $width;
  animation: toggle 0.5s forwards;
}

@keyframes toggle {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
@keyframes toggleOn {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}


@media only screen and (min-width: 840px) {
  .menu {
    width: 30%;
    min-width: 175px;
    position: static;
    transform: translate(0, 0);
  }
  .menu-on {
    width: 30%;
    min-width: 175px;
    position: static;
    transform: translate(0, 0);
  }
}

@media only screen and (min-width: 600px) and (max-width: 840px) {
  .menu {
    width: 40%;
    position: static;
    transform: translate(0, 0);
  }
}

@media only screen and (max-width: 356px) {
  .menu {
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  .menu {
    background-color: $darkPrimaryColorApp;
    
    &__filters {
      &__menu {
        &__options {
          &__select {
            &:hover {
              background-color: $hoversDark;
            }

            background-color: $darkSecondColorApp;
            color: $secondColorApp
          }
        }

        &__submit {
          &:hover {
            background-color: $hoversDark;
          }

          background-color: $darkSecondColorApp;
          color: $secondColorApp
        }
      }
    }
  }
}
