@import "App.scss";
$navInputsHeight: 50px;
$separatorInputDefault: 14px;

.nav-bar {
  width: 100%;
  height: 100%;
  background-color: $primaryColorApp;
  display: flex;
  align-items: center;

  &__menu-button {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;

    &__button {
      background-color: $secondColorApp;
      width: 50px;
      min-width: 50;
      height: $navInputsHeight;
      padding: $separatorInputDefault;
      margin: 0 0 0 15px;
      box-sizing: border-box;
      border-radius: 50%;
      position: absolute;
      display: flex;
      align-items: center;

      svg {
        color: black;
      }
    }
  }

  &__form {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    &__input {
      &:focus {
        background-color: $hoversLight;
        transition: 0.4s;
      }

      background-color: $secondColorApp;
      color: black;
      border-radius: $borderRadius;
      border: none;
      outline: none;
      height: $navInputsHeight;
    }

    #nav-bar__form__search-bar {
      padding: 5px 20px 5px 20px;
      box-sizing: border-box;
      font-size: 20px;
      width: 200px;
      border-radius: $borderRadius 0 0 $borderRadius;
    }

    #nav-bar__form__submit-button {
      &:hover {
        cursor: pointer;
        background-color: $hoversLight;
        transition: 0.4s;
      }

      display: flex;
      justify-content: center;
      align-items: center;
      width: 55px;
      padding: $separatorInputDefault;
      border-radius: 0 $borderRadius $borderRadius 0;

      svg {
        color: black;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .nav-bar {
    &__menu-button {
      width: 30%;
      height: 100%;
      .nav-bar__menu-button {
        position: initial;
      }
    }

    &__form {
      width: 70%;

      #nav-bar__form__search-bar {
        width: 60%;
      }
    }
  }
}

@media only screen and (min-width: 840px) {
  .nav-bar {
    &__form {
      #nav-bar__form__search-bar {
        width: 50%;
        max-width: 700px;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .nav-bar {
    background-color: $darkPrimaryColorApp;

    &__menu-button {
      &__button {
        background-color: $darkSecondColorApp;

        svg {
          color: white;
        }
      }
    }

    &__form {
      &__input {
        &:focus {
          background-color: $hoversDark;
          transition: 0.4s;
        }
  
        background-color: $darkSecondColorApp;
        color: white;
      }

      #nav-bar__form__submit-button {
        &:hover {
          background-color: $hoversDark;
        }
  
        svg {
          color: white;
        }
      }
    }
  }
}
